<div class="d-flex flex-column flex-grow-1">
  <div class="d-flex justify-content-center flex-grow-1">
    <div class="d-flex flex-column w-75">

      <div class="d-flex justify-content-between my-2">
        <h1 class="text-truncate">Products</h1>
        <div class="d-flex align-items-center ml-2">
          <button type="button" class="btn btn-secondary" (click)="openScanningModal()">
            <fa-icon [icon]="faBarcode" class="mr-2"></fa-icon> Scan Barcode
          </button>
        </div>
      </div>

      <ng-container *ngIf="(items$ | async) as items">
        <ng-container *ngIf="items?.length >= 1; else noItems">
          <div class="card-columns">
            <ng-template ngFor [ngForOf]="items" let-item>
              <div class="card">
                <img class="card-img-top" alt="item.image" [src]="item.image">
                <div class="card-body p-3">
                  <h6 class="card-title mb-2">{{ item.name }}</h6>
                  <div class="card-text">
                    <div class="d-flex justify-content-between">
                      <ng-container *ngIf="item.portionable;">
                        <div><span class="badge badge-light mr-1">Portionable</span></div>
                        <div>{{ item.group_serving }} Servings</div>
                      </ng-container>
                      <div class="ml-auto mt-auto">
                        <small class="text-muted">{{ item.total_weight }}{{ item.total_weight_format }}</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between w-100">
                    <div class="d-flex align-self-center" style="width: 40%;">
                      <div class="d-flex flex-column" style="width: 90%;">
                        <small class="text-muted text-truncate">
                          <fa-icon [icon]="faBarcode"></fa-icon> {{ item.barcode }}</small>
                        <small class="text-muted text-nowrap text-truncate" title="Created Date">
                          <fa-icon [icon]="faCalendarDay"></fa-icon> {{ item.created_on | date }}</small>
                      </div>
                    </div>
                    <div class="d-flex align-self-center">
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-outline-danger mr-2" (click)="openDeleteConfirmDialog(item)"
                                ngbTooltip="Delete Item" tooltipClass="tooltip-danger" placement="top">
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                        <div class="">
                          <a [routerLink]="['/item/' + item.id]" class="btn btn-sm btn-outline-info">Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </div>
</div>


<ng-template #noItems>
  <div class="d-flex justify-content-center flex-grow-1">
    <div class="d-flex align-items-center">

      <div class="">
        <div class="d-flex justify-content-center">
          <div class="pr-3">
            <fa-stack size="4x">
              <fa-icon style="color: #6c757d;" [icon]="faDrumstickBite" stackItemSize="1x"></fa-icon>
              <fa-icon style="color: darkred; opacity: 0.6;" [icon]="faBan" stackItemSize="2x"></fa-icon>
            </fa-stack>
          </div>
          <div class="d-flex align-self-center">
            <h3 class="text-muted">There are no items.</h3>
          </div>
        </div>
        <div class="d-flex justify-content-center pt-3 pb-5">
          <button type="button" class="btn btn-block btn-primary" (click)="openScanningModal()">
            <fa-icon [icon]="faBarcode" class="mr-2"></fa-icon> Scan Barcode
          </button>
        </div>
      </div>

    </div>
  </div>
</ng-template>


<ng-template #deleteConfirmDialog>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-deleteConfirmDialog">Delete Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAllDialogModals('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert type="danger" dismissible>
      This action will permanently remove the '{{ itemMarkedForDeletion.name }}' item!
    </ngb-alert>
    Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteItem(itemMarkedForDeletion.id)">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="closeAllDialogModals('No button click')">No</button>
  </div>
</ng-template>


<ng-template #barcodeScanner>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-barcodeScanner">Scan Barcode</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAllDialogModals('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-scan-barcode (newProductQueryEvent)="onEmitNewProductQueryEvent($event)"></app-scan-barcode>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeAllDialogModals('Close button click')">Close</button>
  </div>
</ng-template>


<ng-template #photographProduct>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-photographProduct">Photograph Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAllDialogModals('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-take-photograph (newDataURLEvent)="onEmitNewDataURLEvent($event)"></app-take-photograph>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeAllDialogModals('Close button click')">Close</button>
  </div>
</ng-template>


<ng-template #addItemDialog>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-addItemDialog">Add Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAllDialogModals('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addItemForm">
      <div class="form-group">
        <label class="control-label" for="barcode">Barcode:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="faBarcode" class="mr-2"></fa-icon></span>
          </div>
          <input id="barcode" class="form-control" formControlName="barcode" readonly>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="flex-fill">
            <label for="manufacturer">Manufacturer:</label>
            <input id="manufacturer" class="form-control" formControlName="manufacturer"
                   [readOnly]="addItemForm.get('name').value.length == 0"
                   [placeholder]="addItemForm.get('name').value.length == 0 ? 'Add a Product Name' : ''">
          </div>
          <div class="d-flex align-self-end ml-2">
            <button type="button" class="btn" aria-label="Close"
                    [disabled]="addItemForm.get('name').value.length == 0"
                    [ngClass]="addItemForm.get('name').value.length == 0 ? 'btn-outline-light' : 'btn-outline-warning'"
                    [title]="addItemForm.get('name').value.length == 0 ? 'disabled' : 'Search Wikipedia for a Manufacturer'"
                    (click)="findManufacturerName()">
              <fa-icon [icon]="faSearchEngine"></fa-icon> Wikipedia
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="flex-fill">
            <label for="brands">Brand Name(s):</label>
            <input id="brands" class="form-control" formControlName="brands"
                   [readOnly]="addItemForm.get('name').value.length == 0"
                   [placeholder]="addItemForm.get('name').value.length == 0 ? 'Add a Product Name' : ''">
          </div>
          <div class="d-flex align-self-end ml-2">
            <button type="button" class="btn" aria-label="Close"
                    [disabled]="addItemForm.get('name').value.length == 0"
                    [ngClass]="addItemForm.get('name').value.length == 0 ? 'btn-outline-light' : 'btn-outline-warning'"
                    [title]="addItemForm.get('name').value.length == 0 ? 'disabled' : 'Search Wikipedia for a Brand Name'"
                    (click)="findBrandName()">
              <fa-icon [icon]="faSearchEngine"></fa-icon> Wikipedia
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Product Name:</label>
        <input id="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="w-75">
            <label for="image">Product Image:</label>
            <input id="image" class="form-control" formControlName="image">
          </div>
          <div class="d-flex flex-fill w-25 ml-2">
            <img class="img-fluid img-thumbnail" alt="Product Image"
                 (click)="openCaptureProductImageModal()"
                 [src]="addItemForm.get('image').value ? addItemForm.get('image').value
                                                       : 'https://via.placeholder.com/300?text=No+Product+Image'">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="total_weight" class="control-label">Total Weight:</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <input id="total_weight" type="text" class="form-control" aria-label="Total Weight"
                   formControlName="total_weight">
            <div class="input-group-append">
              <select class="custom-select" id="total_weight_select" formControlName="total_weight_format">
                <option *ngFor="let weightFormatChoice of weightFormatChoicesEnum"
                        [ngValue]="getWeightFormatEnum(weightFormatChoice[0])">{{ weightFormatChoice[1] }}</option>
              </select>
              <label class="input-group-text" for="total_weight_select">
                {{ addItemForm.get('total_weight_format').value }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="portionable"
                 [checked]=""
                 (change)="togglePortionableFields()">
          <label class="custom-control-label" for="portionable">Portionable</label>
        </div>
      </div>
      <ng-container *ngIf="showPortionableFields">
        <div class="form-group">
          <label for="group_serving">Group Serving:</label>
          <input id="group_serving" class="form-control" formControlName="group_serving">
        </div>
        <div class="form-group">
          <label for="total_weight" class="control-label">Portion Weight:</label>
          <div class="form-group">
            <div class="input-group mb-3">
              <input id="portion_weight" type="text" class="form-control" aria-label="Portion Weight"
                     formControlName="portion_weight">
              <div class="input-group-append">
                <select class="custom-select" id="portion_weight_select" formControlName="portion_weight_format">
                  <option *ngFor="let weightFormatChoice of weightFormatChoicesEnum"
                          [ngValue]="getWeightFormatEnum(weightFormatChoice[0])">{{ weightFormatChoice[1] }}</option>
                </select>
                <label class="input-group-text" for="portion_weight_select">
                  {{ addItemForm.get('portion_weight_format').value }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-group">
        <label for="consume_within_x_days_of_opening">Consume Within ('X' Days of Opening):</label>
        <input id="consume_within_x_days_of_opening" class="form-control" formControlName="consume_within_x_days_of_opening">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addNewItem()">Add Item</button>
    <button type="button" class="btn btn-secondary" (click)="closeAllDialogModals('Close button click')">Close</button>
  </div>
</ng-template>
