<div class="d-flex justify-content-center">
  <div class="w-75">

    <div class="jumbotron">
      <h1 class="display-4">Welcome to <b>Pantry</b>!</h1>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center w-auto">
          <div>
            <p class="lead my-1">
              Tracking the groceries in your fridge, freezer, and pantry is simple with <b>Pantry</b>!
            </p>
            <p class="lead my-1">
              It provides shopping list capabilities, as well as allowing you to scan barcodes on individual
              products for easier entry.
            </p>
          </div>
        </div>
        <div class="w-auto d-none d-sm-block">
          <div class="d-flex justify-content-center h-100">
            <div class="d-flex align-self-center">
              <img [src]="brandLogoSrc" alt="pantry-egg-brand"
                   class="mx-auto" style="max-height: 10rem;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <p>
      Plus, if you are at the grocery store and cannot remember if you need to replace a certain product, the
      barcode scanner allows the app to notify you if you are running low and need to purchase. Choose a specific
      storage area for each item and you will be able to look in each location for what is ready for use.
    </p>

    <hr class="my-4">

    <div class="d-flex justify-content-end">
      <a class="btn btn-primary btn-lg" role="button" [routerLink]="'/inventories'">Browse Inventories</a>
    </div>

  </div>
</div>
